* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    line-height: 1.6;
    color: #333;
    background-color: #f4f2ee;
}
nav {
    background-color: #e0829d;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav .logo {
    width: 150px;
    height: auto;
    margin-left: 50px;
}

nav h1 {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 2rem
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #ff0048;
}

header {
    background-color: #af556f;
    margin-top: 80px;
    text-align: center;
    color: #fff;
    padding: 4rem;
}

header h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.2rem;
}

section {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    background-color: #f1dde3;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #2c3e50;
    margin-bottom: 1rem;
}

section ul {
  padding-left: 40px;
  list-style-type: disc;
}

section h3 {
font-weight: bold;
margin-left: 20px;
}

section h4 {
font-weight: bold;
margin-left: 30px;
}
section h5 {
font-weight: bold;
margin-left: 60px;
font-size: medium;
}

.tabla {
      width: 600px; 
      height: 250px;
      align-items: center;
      justify-content: center;
      padding-left: 90px;
}


.hover-link{
    color: #ff0048; 
    text-decoration: none; 
    font-weight: bold;


}
.hover-link:hover {
    color: #bb093d; 
    text-decoration: underline;
}


.contact-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #e0829d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #1f030d
    
}

.contact-table th,
.contact-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    border: 1px solid #2d0313;
}

.contact-table thead {
    background-color: #f2f2f2;
}

.contact-table a {
    color: #ff0048;
    text-decoration: none;
}

.contact-table a:hover {
    color: #ff0048;
    text-decoration: underline;
}


details a {
    color: #5b2635; 
    text-decoration: none; 
    font-weight: bold;
}

details a:hover {
    color: #bb093d; 
    text-decoration: underline;
}


section p {
    margin-bottom: 0.5px;
}


.about-image  {

width: 120px;
height: 150px;
object-fit: cover;
border-radius: 4px;
flex-shrink: 0;
}


.about-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.about-text {
  max-width: 600px;
}



.panic{
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    background-color: #c47e92;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

 details {
        background-color: #c47e92;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    summary {
        font-weight: 200;
        cursor: pointer;
        list-style: none;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    summary::before {
        content: "▶";
        display: inline-block;
        margin-right: 8px;
        transition: transform 0.3s ease;
    }

    details[open] summary::before {
        content: "▼";
     }

    summary::-webkit-details-marker {
        display: none;
    }

    .content-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    padding: 0 10px;
    }

details[open] .content-wrapper {
max-height: 700px;
 padding: 10px;
 }


#servicios ul {
    list-style-type: disc;
    margin-left: 2rem;   
}
#servicios ul li {
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

form label {
    font-weight: bold;
    color: #2c3e50;
}

form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

form input:focus {
    outline: none;
    border-color: #ff0048
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
form button:hover {
    background-color: #ff0048;
}


footer {
    background-color: #af556f;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

footer p {
    margin-bottom: 0.5rem;
}

footer a {
    color: #ae113d;
    text-decoration: none;
}

footer a:hover {
    color: #ff0048;
    text-decoration: underline;
}


@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        margin-top: 1rem;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    header {
        padding: 2rem 1rem;
    }

    section {
        margin: 1rem;
        padding: 1rem;
    }
}